<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Demo_App_SV">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sv_redonda"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sv_redonda"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.Demo_App_SV.StartReadings"
            android:launchMode="singleTask" />
        <activity android:name="com.example.Demo_App_SV.LoadData" />
        <activity
            android:name="com.example.Demo_App_SV.SdkActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".SdkService">
        </service>
    </application>

</manifest>